<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412010691746-fai6pghjh5ksrciv4o28mu7vj6vncdq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412010691746-fai6pghjh5ksrciv4o28mu7vj6vncdq3</string>
	<key>API_KEY</key>
	<string>AIzaSyA-eJKhCLqaPTuXgAUMVKmIm2_DfxWDFr0</string>
	<key>GCM_SENDER_ID</key>
	<string>412010691746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.nguyen.FUELLY</string>
	<key>PROJECT_ID</key>
	<string>fuelly-san</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelly-san.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412010691746:ios:9d218c777f309bf12f6bfb</string>
	<key>DATABASE_URL</key>
	<string>https://fuelly-san.firebaseio.com</string>
</dict>
</plist>